
.ek-az-jumpbox-wrap
{
	display:flex;
	flex-wrap:wrap;
}
.ek-az-jumpbox-wrap div
{
	padding: 8px;
	margin: 2px;
	border: solid 1px #ccc;
	color: #e6e6e6;
	width:35px;
	text-align: center;
}


.az-active div
{
	color:#336699;
}



.az-active:hover
{
	background:#f7f7f7;
}


.az-letter-section
{
	clear:both;
}


.az-letter-section h1
{
	border-bottom: 2px solid #ccc;

}





